*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

#corner-blur {
  position:absolute;
  z-index: -2
}
navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 120px;
}

#navbar-title {
  color: #1B1C57;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

.nav-links a {
    
  color: #f0f3fd;
  font-size: 14px;
  font-family: Lexend;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  border: 1px rgba(255, 255, 255, 0.30) solid;
}

#sign-up-nav-link {
  font-size: 14px;
  font-family: Lexend;
  font-weight: 600;
  color: #047857;
  background: #d1fae5;
  padding: 12px 24px;
  border-radius: 32px;
  margin-right: 0px;
  margin-left: 0px;
}

 .nav-links > a:nth-child(1){
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.10);
}


.nav-links > a:nth-child(3) {
    position: relative;
    padding-right: 42px;
    margin-right: 56px;
}

#navbar-chevron {
  position: absolute;
  top:27%;
  right: 11%;
}


#header-title {
  color: #1b1c57;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.hero-right-container {
  position: absolute;
  min-width: 600px;
  min-height: 720px;
  right: 0%;
  top: 0%;
  width: 50%;
  z-index: -1;
  overflow: hidden;
}

.hero-right-container > img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 80px
}

.vector-container-red {
  position:absolute;
  top: 19%;
  left:11%;
  z-index: 1;
}

.vector-container-orange {
  position:absolute;
  top: 28.5%;
  right:17%;
  z-index: 1;
}

.vector-container-blue {
  position:absolute;
  bottom: 38%;
  right:13%;
  z-index: 1;
}


.hero-left {
    width: 50%;
    height: 100%;
    padding-left: 120px;
    padding-right: 104px;
}

.hero-left > h2 {
    color: #1B1C57;
    font-size: 40px;
    font-family: Lexend;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    line-height: 50px;
    text-shadow: 0px 4px 4px  #00000040;
    margin-bottom: 24px;
    
}

#special-words{
    font: 800 40px Arial;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 8px 8px  #0000002e;
}

.hero-left > p {
    color: #626687c2;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

.search-container{
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px ;
}

form {
  display: flex;
}

.search-bar {
  border-radius: 32px;
  border: 1px solid #E0E3EB;
}

#location-marker {
  padding-left: 24px;
  padding-right: 16px;
  margin-bottom: 5px;
}

.search-container input {
    /* background-color: #047857; */
  font-family: Lexend;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  width: 100%;
  min-height: 54px;
  box-shadow: none;
  border-radius: 32px;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-container input:focus {
  outline: none;
}



#search-button {
  position: relative;
  color: white;
  background: #10B981;
  font-family: Lexend;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 32px;
  border: none;
  padding: 12px 42px 12px 16px;
  margin:3px;  
}

#search-button img {
  position: absolute;
  width:24px;
  top:26%;
  left:62%;
}

.hero-links > h4 {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #888B97;
}
.hero-links{
  width:100%;
}
.image-row {
  display: flex;
  width: 100%;
  gap:32px;
}
.image-row > img {
  width:82px;
  height: 64px;
}

.image-row > img:nth-child(1) {
  padding-bottom: 6px;
}

.hero-image-carousel {
  --items-per-screen: 1;
  --slider-index: 0;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
  position: absolute;
  bottom:7%;
  left:3%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 60%;
  margin-left: 24px;

  
}

.card-container {
  flex: 0 0 calc(100% / var(--items-per-screen));
}



.card-container:hover {
  cursor: pointer;
}
.card {
  display: flex;
  background: #FFFFFF;
  max-width: 420px;
  max-height: 160px;
  border: #888B97 solid;
  box-shadow: 0px 10px 8px 0px #48484833;
  padding: 12px 32px 12px 12px;
  border-radius: 32px;

}

.card > img {

}

.house-details {
  margin-left: 12px;
  padding-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.house-details > header {
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #1B1C57;
  white-space: nowrap;

}

.house-details > p {
  font-family: Lexend;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: #68799F;
  margin-top: 8px;
  margin-bottom: 8px;

}

.house-details > .review {
  display: flex;
  gap:8px;
  align-items: center;
  font-family: Lexend;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #1B1C57;
}

.house-details > .review > img {
  display: inline-block;
}
.house-details > .review > p {
  display: inline-block;
}

.pagination-container {
  position: absolute;
  bottom: 2%;
  left: 10%;
  display: flex;
  gap:12px;
  width:100px;
  height:25px;
}
.pagination-dot {
  content: '';
  border-radius: 50px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.478);
}

.pagination-dot:nth-child(1) {
  background-color: white;

}