*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-snap-type: y proximity;

}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}


#corner-blur01 {
  position: absolute;
  z-index: -1;
}

.lrg-container {
  max-width:2560px;
  margin: 0 auto;
  position: relative;

}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 7.5rem;
  z-index: 1;
}

#navbar__title {
  color: #1b1c57;
  font-size: 1rem;
  font-family: Lexend;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  gap: .75em
}

.hounter-logo {
  width:2.25em;
  height:2.25em;
}

.navbar__links {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5em
}

.navbar__links > a {
  display: block;
  color: #f0f3fd;
  font-size: .875em;
  font-family: Lexend;
  font-weight: 600;
  text-transform: capitalize;
  padding: .375rem .875rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2em;
  border: .0625em rgba(255, 255, 255, 0.3) solid;
  transition: background-color 0.5s ease;
}

#sign-up-nav-link {
  font-size: .875rem;
  font-family: Lexend;
  font-weight: 600;
  color: #047857;
  background: #d1fae5;
  padding: .625em 1.375em;
  border-radius: 2em;
  margin-right: 0px;
  margin-left: 0px;
}

.navbar__links > a:nth-child(1) {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background: rgba(255, 255, 255, 0.1);
}

.navbar__links > a:nth-child(3) {
  position: relative;
  padding-right: 2.625em;
  margin-right: 3.5em
}

#navbar-chevron {
  position: absolute;
  top: 27%;
  right: 11%;
}

#header-title {
  color: #1b1c57;
  font-family: Lexend;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#check {
  display: none;
}
.icons:focus {
  outline: 2px solid #047857;
}


.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
} 

.heroes-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

/* <----------------------Left Side Hero ---------------------------> */


.hero-left {
  width: 50%;
  height: 100%;
  padding-left: 7.5em;
  padding-right: 6.5em;
  padding-top: 10em;
}

.hero-left__cta {
  color: #1b1c57;
  font-size: 2.5rem;
  font-family: Lexend;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  /* GO BACK TO THIS----------------------------------------------------------------> */
  line-height: 3.125rem;
  text-shadow: 0px 4px 4px #00000040;
  margin-bottom: .80em;
}

#special-words {
  font: 800 2.5rem Arial;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  text-shadow: none;

  /* text-shadow: 0px 8px 8px #0000002e; */
}

.hero-left__para {
  color: #626687c2;
  font-family: Lexend;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 0px;
  text-align: left;
  opacity: 90%;
}

.search-container {
  width: 100%;
  margin: 2em 0;
  min-width: 18.3125em;
}

form {
  display: flex;
}

.search-bar {
  border-radius: 32px;
  border: 1px solid #e0e3eb;
}

#location-marker {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1.5em;
  margin-right: 1rem;
  margin-top: 0.5em;
}

.search__input  {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.375em;
  letter-spacing: 0px;
  width: 100%;
  min-height: 3.375em;
  box-shadow: none;
  border-radius: 2em;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search__input:focus {
  outline: none;
}

.search__button {
  position: relative;
  color: white;
  background: #10b981;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.375em;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 2em;
  border: none;
  padding: .75em 2.625em .75em 1em;
  margin: .1875rem;
  cursor: pointer;
}

.search__button:hover {
  background-color: #f59e0b;
}

.search__img {
  position: absolute;
  width: 1.5em;
  top: 26%;
  left: 62%;
}

.hero-links {
  width: 100%;
}

.hero-links__title {
  font-family: Lexend;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0px;
  text-align: left;
  color: #696b75;
  opacity: 90%;

}

.hero-links__image-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hero-links__image-row > img {
  width: 5.125em;
  height: 4em;
  margin-left: 2em; 
}

.hero-links__image-row > img:nth-child(1) {
  padding-bottom: .5625em
}

/* <------ Right Side --------> */

.hero-right-container {
  position: relative;
  width: 50%;
  /* display: inline-block;
  min-width: 600px;
  min-height: 720px;
  right: 0%;
  top: 0%;
  width: 50%; */
  overflow: hidden;
}

.hero-right__img-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 94%;
  object-fit: cover;
  border-bottom-left-radius: 5em;
  user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}

.hero-carousel {
  position: absolute;
  bottom: 10%;
  left: 0px;
  /* display: flex; */
  width: 100%;
  -webkit-overflow-scrolling: touch;

}

.hero-carousel__slider {
  display: flex;
  gap: 1em;
  width: 100%;
  padding-left: 4em;
  border-bottom-left-radius: 1.875em;
  box-shadow: inset 15px rgba(0, 0, 0, 1);
  overflow-x: auto;
  scrollbar-width: none;
  transition: transform 1.3s ease;
}

.hero-carousel__slider::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

#drag {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: none;

}

#drag:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  transition: none;
}

.hero-carousel__card {
  display: flex;
  background-color: #047857;
  justify-content: space-between;
  background: #ffffff;
  height: 6.5em;
  border: #888b97 solid;
  box-shadow: 0px .625em .5em 0px #48484833;
  padding: 1.5em;
  border-radius: 2em;
  gap: 1em;
  scroll-snap-align: start;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}



.hero-carousel__card > img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 1.5em;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}

.hero-carousel__card:nth-child(1) {
  max-width: 21.25em;
}

.hero-carousel__card:nth-child(2) {
  max-width: 13.125em
}

.hero-carousel__card:nth-child(3) {
  max-width: 18.75em
}

.hero-carousel__headshots {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5em;
  width: 7em;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 

}

.headshot-item {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid #ffffff;
  border-radius: 2em;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 

}

.headshot-item:nth-child(1) {
  right: 4.125em;
}

.headshot-item:nth-child(2) {
  right: 2.125em;
}

.headshot-item:nth-child(3) {
  right: 0px;
}

.hero-carousel__house-details {
  justify-content: flex-end;
}

.house-details__title {
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625em;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1c57;
  white-space: nowrap;
  /* margin-bottom: 4px; */
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 

}

.house-details__para {
  font-family: Lexend;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: #5d6c8f;
  /* margin-bottom: 8px; */
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}



/* <---------Feature House Carousel Section ----------> */

.fhouse-container {
  --feature-house-items-per-screen: 4;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 120px;
  padding-top: 120px;
}


.fhouse__nav {
  position: relative;
  width: 100%;
  padding-right: 120px;
  display: flex;
  align-items:baseline;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 40px;
}

.fhouse__aside {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: absolute;
  top: -0.75em;
  left: 0px;
  padding-left: .5em;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0px;
  color: #f59e0b;
}

.fhouse__bar {
  position: absolute;
  top: -0.1875em;
  left: -2.625em;
  width: 2em;
  height: .0625rem;
  background-color: #f59e0b;
}

.fhouse__title {

  font-family: Lexend;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1c57;
  padding-top: .63em;
  padding-right: .325em;
}

.fhouse__buttons-container {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
}

.fhouse__button{
  display: flex;
  align-content: baseline;
  gap:.5em;
  color: #888b97;
  background: #e0e3eb00;
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 420;
  line-height: 1.75em;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 2em;
  border: .0625em solid #e0e3eb;
  padding: 0.5em 1em;
  cursor: pointer;
}

.fhouse__button--active {
  background: #d1fae5;
  color: #10b981;
  border: none;
}

/* .fhouse__button > img {
  margin-top: .1875em;
} */

.fhouse__button-img {
  width: 1.5em;
  height: 1.5em;
}

.fhouse-chevrons {
  display: flex;
  flex-shrink: 0;
}

.fhouse-chevrons__button {
  border: none;
  background: #10b981;
  padding: 0.75em 1em 0.75em 1em;
  border-radius: 2em;
  margin-left: 1em;
  cursor: pointer;

}

.fhouse-chevrons__button > img {
  width: 1.5em;
}

.fhouse-chevrons__button:nth-child(1) > img {
  transform: rotate(180deg);
  color: black;
}

.fhouse-chevrons__button:nth-child(1) {
  background: #e0e3eb;
}

/* <---------------FEATURE HOUSE CAROUSEL -----------------------> */

.feature-house-wrapper {
  overflow-x: hidden;
}

.fhouse-slider {
  display: flex;
  --feature-house-slider-index: 0;
  --card-size: 0;
  transform: translateX(calc(var(--feature-house-slider-index) * var(--card-size)));
  transition: transform 250ms ease-in-out;
  width: 100%;
}

.fhouse-card {
  flex: 0 0 calc(100% / var(--feature-house-items-per-screen));
  /* min-width: 18.75em; */
  min-width: 19.50em;

  margin-right: 2.5em;
  display: flex;
  flex-direction: column;
}

.fhouse-card__img-container {
  position: relative;
}

.fhouse-card__img-container > img {
  object-fit: cover;
  width: 21.25rem;
  height: 23.875rem;
  border-radius: 1.5rem;
  aspect-ratio: 17/9;
}

.tags {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: .4375em;
  height:2.125em;
  padding: .5em 1em;
  border-radius: 2em;
  text-align: center;
  font-family: Lexend;
  font-size: .875em;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0px;
  text-align: left;
  color: #EF4444;
  background-color: #FEE2E2;
}

.tags > img {
  width: 1em;
}

.tags--newHouse {
  background-color: #DBEAFE;
  color: #1D4ED8;
}

.tags--deals {
  background-color: #D1FAE5;
  color: #047857;
}

.house-details {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.house__name {
  font-family: Lexend;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0px;
  text-align: left;
}

.house__price {
  font-family: Lexend;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0px;
  text-align: left;
  color: #3c4563;
  margin-top: 0.5em;
}

.realtor-card {
  display: flex;
  width: 100%;
  align-items: center;
}

.realtor-card__details {
  margin-left: 1em;
}

.realtor__headshot {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.realtor__name {
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  color: #0e1735;
  margin-bottom: .125em;
}

 .realtor__location {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0px;
  text-align: left;
  color: #656872;
  flex-wrap: nowrap;
}

/* <------ Ready To Sell Section --------> */

.ready-to-sell-container {
  display: flex;
  width: 100%;
  padding: 120px;

}

.left-section {
  position: relative;
  width: 50%;
  padding-top: 3.75em;
  padding-right: 8.125em;
}

.section__bar {
  position: absolute;
  top: 1em;
  left: -2.8125em;
  width: 2em;
  height: .0625em;
  background-color: #f59e0b;
}

.section__span {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: absolute;
  top: .75em;
  font-family: Lexend;
  font-size: .875em;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0rem;
  text-align: left;
  color: #f59e0b;
}

.section__blurb {
  font-family: Lexend;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1c57;
}

.section__para {
  font-family: Lexend;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  letter-spacing: 0px;
  text-align: left;
  color: #626687;
  opacity: 75%;
  margin: 1em 0px 1em 0px;
}

.section-details {
  display: flex;
  flex-wrap: wrap;
  font-family: Lexend;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 0px;
  text-align: left;
  color: #3c4563;
  padding-bottom: 3.625em;
}

.section-details__title {
  flex-basis: 100%;
  font-family: Lexend;
  text-align: left;
  color: #1b1c57;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.75em;
  letter-spacing: 0px;
  margin-bottom: 1.375em;
  opacity: 75%;
}

.section-details__para {
  position: relative;
  flex-basis: 50%;
  padding-left: 3em;
  margin-bottom: 1.25em;
}

.section-details__para > img {
  position: absolute;
  bottom: -0.1875em;
  left: 0px;
}

.para-icon {
  width:1.5em;
  height: 1.5em;
}

.contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.375em;
}

.contact-bar-grey {
  position: absolute;
  width: 100%;
  height: .125em;
  top: -2.5em;
  background-color: #f0f3fd;
}

.contact__realtor {
  width: auto;
}

.contact__realtor > img {
  width: 3.5em;
  height: 3.5em;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10.1875em;
  height: 3em;
  position: relative;
  color: white;
  background: #10b981;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.375em;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 2em;
  border: none;
  padding: .75em 1em;
  margin: .1875em;
  text-wrap: nowrap;
  cursor: pointer;
}

.contact__button > img {
  margin-right: .5em;
  max-width: 1.5em;
}

.contact__button:hover {
  background-color: #f59e0b;
}
/* <----------Right side container -----------> */

.ready-to-sell-container {
  position: relative;
}

#corner-blur02 {
  position: absolute;
  right: 0px;
  top: -3.125em;
  z-index: -1;
}

#corner-blur03 {
  position: absolute;
  right: 0px;
  top: -6.25em;
  z-index: -2;
}

.right-section {
  position: relative;
  width: 50%;
}

.right-image-container {
  position: absolute;
  background-color: black;
  margin-left: auto;
  max-width: 30.5em;
  height: 26em;
  border-radius: .25em;
  right: 0px;
}

.right-image-container > img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}

.right-image-container > .inside-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.right-image-container > img:nth-child(2) {
  position: absolute;
  width: 18.5em;
  height: 10.5em;
  bottom: -2.5em;
  left: -2.5em;
  border-radius: .25em;
}

.right-image-container > img:nth-child(3) {
  position: absolute;
  width: 6em;
  height: 5em;
  bottom: -2.5em;
  right: 7.5em;
  border-radius: .25em;
}

.right-image-container > img:nth-child(4) {
  position: absolute;
  width: 6em;
  height: 5em;
  bottom: -2.5em;
  right: .9375em;
  border-radius: .25em;
}

/* <-------------- Review Card -----------------> */

.review-section-container {
  width: 100%;
}

.review__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2.5em;
  gap: .75em;
  padding: 0 .75em;
}

.review__span {

  position: relative;
  margin: 0 auto;
  width: fit-content;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0px;
  text-align: center;
  color: #f59e0b;
}

.bar {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: absolute;
  top: -0.9375em;
  left: 2.75em;
  width: 2em;
  height: .0625em;
  background-color: #f59e0b;
}

.review__title {
  font-family: Lexend;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: #1b1c57;
}

.main-carousel {
  width: 100%;
}

.carousel-cell {
  width: 44%; /* half-width */
  margin-right: 3.125em;
  counter-increment: carousel-cell;
}

.carousel-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46.25em;
  max-width: 100%;
  height: 31.5625em;
  max-height: 100%;
}

.carousel-card__image-container {
  position: absolute;
  width: 100%;
  height: 80%;
  -webkit-opacity: 0.7;

}
.carousel-card__image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5em
}

.review-card {
  width: 100%;
  margin-top: auto;
  z-index: 2;
  background-color: white;
  max-width: 38.125em;
  padding: 2em;
  border-radius: 1em;

}

.review-card__title {
  font-family: Lexend;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.5625em;
  letter-spacing: 0px;
  text-align: left;
  color: #1b1c57;
  margin-bottom: 1em;
  max-height: 3.125em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-card__para {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  color: #626687;
  margin-bottom: 1.5em;
  max-height: 4.5em;

  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-card > .realtor-card {
  display: flex;
  width: 100%;
}

 .star-rating {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: Lexend;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75em;
  letter-spacing: 0px;
  text-align: left;
  color: #3c4563;
}

.star-rating > img {
  width: 1.75em;
  height: 1.75em;
  margin-right: .1875em;
}

/* <-------------Blog CTA -------------------> */

.blog-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 7.5em;
  align-items: center;
  max-width: 26.875em;
  height: 11.8125em;
}

.blog-bar {
  position: absolute;
  top: -1.125em;
  left: auto;
  width: 2em;
  height: .0625em;
  background-color: #f59e0b;
}

.blog-intro__span {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0px;
  text-align: center;
  color: #f59e0b;
}

.blog-intro__title {
  margin-top: 1em;
  font-family: Lexend;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-align: center;
  color: #1b1c57;
}

.blog-intro__button {
  margin-top: 1.5em;
  padding: 0.75em 1em;
  border-radius: 2em;
  background-color: #10b981;
  color: white;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.375em;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
}

.blog-intro__button:hover {
  background-color: #f59e0b;
}

/* <----------Blog Section --------------> */

.blog-section-container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 4.25em;
  padding: 7.5em;
  padding-top: 2.5em;
}
.card-small {
  display: flex;
  align-items: center;
  margin-bottom: 2.625em;
}

.card-small__img-container {
  /* flex-shrink: 0; */
  height: 9em;
  max-width: 12.5em;
  min-width:10.625em;
}

.card-small__img-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.blog-details {
  /* flex-shrink: 1; */
  /* height: 100%; */
  max-width: 21.25em;
  padding-left: 2em;
}

.blog-details__author {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.blog-details__headshot {
  width: 2em;
  height: 2em;
  border-radius: 6.25em;
}

.blog-details__name {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375em;
  letter-spacing: 0px;
  text-align: left;
  color: #3c4563;

}

.article__title {
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}

.time-stamp {
  display: flex;
  margin-top: 1em;
  margin-left: .25em;
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  color: #888b97;
}

.time-stamp__img{
  margin-right: .75em;
}

/* <-------------------- BLOG LARGE CARD ---------------------> */

.card-large-container {
  display: flex;
  flex-direction: column;
}

.card-large__img-container {
  max-width: 35em;
  max-height: 17.5em;
  height: auto;
}

.card-large__img-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.blog-details--large {
  max-width: 35em;
  margin-top: 1.5em;
  padding-left: 0px;
}

.article__para {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  color: #626687;
  margin-top: .75em;
  margin-bottom: 1em;
}

#corner-blur10 {
  position: absolute;
  left:0;
  bottom:55%;
  z-index: -3;
}
#corner-blur11 {
  position: absolute;
  left: 0;
  bottom:15%;
  z-index: -2;
}

/* <-------------------BANNER-----------------------------> */

.banner {
  display: flex;
  justify-content: space-between;
  width: 85%;
  min-width: 25em;
  background-image: url("./assets/bannerBackround.webp");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 4.0625em 1.25em;
  border-radius: 2em;
  text-align: center;
}


.banner__text {
  font-family: Lexend;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0px;
  text-align: center;
  color: #1b1c57;
  max-width: 30.75rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}


.banner__img-container {
  position: relative;
  /* background-color: #047857; */
  width: 25%;
}

.banner__headshot {
  width: 2em;
  height: 2em;
  border: 2px solid #ffffff;
  border-radius: 2em;
  transition: opacity 0.5s ease;
}

.banner__headshot:nth-child(1) {
  position: absolute;
  right: 20%;
}

.banner__headshot:nth-child(2) {
  position: absolute;
  bottom: 25%;
  left: 25%;
}

.banner__medium-img {
  width: 5.0625em;
  height: 5.0625em;
  border-radius: 1.5em;
  border: .125em solid #ffffff;
  transition: opacity 0.5s ease;
  position: absolute;
  top: -1.5625em;
  left: 1.5625em;
}

.banner__small-img {
  position: absolute;
  right: 20%;
  bottom: .625em;
  width: 3.375em;
  height: 3.375em;
  border-radius: 1.5em;
  border: .125em solid #ffffff;
  transition: opacity 0.5s ease;
}


.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 37.5em;
  margin: 0 auto;
  /* margin-bottom: 32px; */
}

.email-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 2em;
  padding: .25em;
  max-height: 3.25em;
  min-width: 21.25em;
}

.email__input {
  min-width: 8.125em;
  width: 100%;
  padding: .625em;
  font-family: Lexend;
  font-size: .875em;
  font-weight: 500;
  line-height: 1.375em;
  letter-spacing: 0px;
  text-align: left;

  border: .0625em solid #ccc;
  border-radius: 2em;
  border: none;
  text-decoration: none;
  box-shadow: none;
}

.email__input:focus {
  outline: none;
}

#emailForm {
  width: 100%;
}

.email__button {
  flex-shrink: 0;
  /* width:auto;
  flex-wrap: nowrap; */
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.375em;
  letter-spacing: 0px;
  color: white;
  /* text-align: left; */
  background-color: #10b981;
  padding: .75em 1em;
  border-radius: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.email__button:hover {
  background-color: #f59e0b;
}


.email-container:focus {
  outline: .0625em solid #f59e0b;
}

.email__img {
  margin: .625em 1em .625em 1.5em;
  width: 1.5em;
  height: 1.5em;
}


/* <--------------------------------FOOTER---------------------> */

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 7.5em;
  overflow: hidden;
  gap: 3em;

}

.footer__site-information {
  flex-grow: 2;
}

.footer__logo-container {
  display: flex;
  gap: .75em;
  margin-bottom: .75em;
}

.footer__title{
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: #0e1735;
}

.footer__para {
  margin-bottom: 1.5em;
  max-width: 20em;
  font-family: Lexend;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  color: #626687;
  opacity: 75%;
}

.footer__socials {
  display: flex;
  gap: 2.125em;
}

.column {
  flex-grow: 1;
}

.column__header {
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: #0e1735;
  margin-bottom: 1.3125em;
}

.column__ul {
  text-align: center;
  padding: 0px;
}

.column__link {
  font-family: Lexend;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: 0px;
  text-align: center;
  color: #626687;
  margin-bottom: 1.125em;
}

#corner-blur-1 {
  position: absolute;
  right: -5em;
  bottom: -0.625em;
}

#corner-blur-2 {
  position: absolute;
  right: 0px;
  bottom: -0.625em;
}

/* <-------------------MEDIA QUERIES -----------------> */
@media (min-width: 2560px) {
  
  html {
} 

  .fhouse-container {
    --feature-house-items-per-screen: 7;
  }

  .carousel-card {
    width: auto;
    height: 37.5em;
  }
  
}

@media (max-width: 2560px) {
  
  .fhouse-container {
    --feature-house-items-per-screen: 6;
  }
  
}

@media (max-width: 1245px) {

  .navbar__links > a {
    background: #d1fae5;
    /* background: #888b9789; */
    color: #047857;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navbar__links > a:nth-child(1) {
    background: #d1fae5;
    color: #047857;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

@media (max-width: 1200px) {

  .fhouse-container {
    --feature-house-items-per-screen: 3;
  }
  
}

@media (max-width: 1120px) {

  .ready-to-sell-container {
    flex-direction: column;
  }

  .left-section {
    width: 100%;
    padding-right: 0px;
  }

  .right-section {
    position: relative;
    margin: 0 auto;
    margin-top: 64px;
    height: 420px;
    width: 100%;
    align-items: center;
  }

  .right-image-container {
    position: relative !important;
    max-width: none;
    margin: 0 auto;
    max-width: 600px;
  }
}

  @media (max-width: 1030px) {

    .navbar__links {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 80%;
      right: 0%;
      width: 100%;
      padding: 64px;
      gap: 12px;
      background: #ffffff63;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(12px);
      

    }
  
    .navbar__links > a {
      text-align: center;
      border-radius: 0;
      width: 100%;
      border-bottom: 1px white solid;
      background: #d1fae5ca;
      color: #1b1c57;
      margin: 0px;
    }
  
    .navbar__links > a:nth-child(1) {
      color: #1b1c57;
      text-align: center;
      background: #d1fae5ca;
    }
  
    .navbar__links > a:nth-child(3) {
      margin: 0px;
      padding:8px 16px;
    }
  
    #sign-up-nav-link {
      padding: 8px 16px;
      border-radius: 0px;
      background: #d1fae5ca;
      color: #1b1c57;
    }


    .icons {
      display: inline-flex;
      color:#f59e0b;
      font-size: 48px;
    }

    .focus:focus-within {
      outline :1px solid red;
    }

    .icons #close-icon {
      display: none;

    }

    #check:checked~.icons #menu-icon {
      display: none;
    }

    #check:checked~.icons #close-icon {
      display: block;
      
    }

    #check:checked~.navbar__links {
      display: flex;
    }
  }




@media (max-width: 1025px) {

  .blog-section-container {
    flex-direction: column;
    gap: 0px;
  }

  .card-small__img-container {
    flex-shrink: 0; 
  }

  .card-large-container {
    flex-direction: row;
    margin-bottom: 42px;
  }

  .blog-details--large {
    height: 100%;
    padding-left: 32px;
    margin-top: 0px;
  }

  .card-large__img-container {
    flex-shrink: 0;
    height: 144px;
    width: 200px;
  }

  .article__para {
    display: none;
  }

  .banner__headshot{
    opacity: 0;
  }

}

@media (max-width: 970px) {

  .fhouse__nav {
    padding-right: 60px;
    width: 100%;
    flex-direction: column;
    /* align-content: flex-start; */
    gap: 16px;
  }

  .fhouse__buttons-container {
    flex-wrap: wrap;
    justify-content: center;
    gap:16px;
  }

  .fhouse__button {
    flex-shrink: 0;
  }


  .fhouse-container {
    --feature-house-items-per-screen: 2.50;
    margin-right: 0px;
  }

  .fhouse-card {
    margin-right:32px;
  }

}

@media (max-width: 925px) {

  .heroes-container {
    flex-direction: column;
    min-height: 0px;
  }

  .hero-left {
    width: 100%;
    padding-right: 120px;
  }

  .hero-right-container {
    display: none;
    position: relative;
    width: 100%;
    background-color: none;
    margin-top: 68px;
  }

  .hero-right__image-container {
    position: relative;
    height: 100%;
  }

  .hero-right__image-container > img {
    display: none;
    height: 20%;
    width: 100%;
    object-fit: scale-down;
  }

  .hero-carousel {
    position: relative;
  }

  .fhouse-container{
    padding-top: 120px;
  }

  .house__price {
    margin-top: 0px;
  }
  
}

@media (max-width: 780px) {
  .footer {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 768px) {

  .main-carousel {
    width: 100%;
  }

  .carousel-cell {
    width: 100%;
    display: flex;
  }

}

@media (max-width: 768px) {
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
  }
  .hero-left {
    padding-left: 60px;
    padding-right: 60px;
  }
  .fhouse-container{
    padding-left: 60px;
  }
  .ready-to-sell-container {
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .blog-intro {
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
  }
  .blog-section-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
 }

@media (max-width: 735px) {

  .fhouse-container {
    --feature-house-items-per-screen: 1.75;
  }

  .banner__small-img{
    opacity: 0;
  }

  .banner__medium-img{
    opacity: 0;
  }


}

@media (max-width: 580px) {

  .fhouse-container {
    --feature-house-items-per-screen: 1.50;
  }

}

@media (max-width: 570px) {

  .blog-details >.author {
    margin-bottom: 8px;
  }

  .time-stamp {
    margin-top: 8px;
  }

  .fhouse__nav {
    width: 100%;
    padding-right: 0px;
    margin:18px 0px;
    margin: 16px;
    min-width:200px;
  }

  .fhouse__buttons-container{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .fhouse__button{
    font-size: 14px;
  }

  
  .hero-links__image-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  .hero-links__image-row > img {
    margin: 0px;
  }

  .card-small__img-container {
    display: none;
  }

  .card-large__img-container {
    display: none;
  }

  .blog-section-container{
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .blog-details {
    padding:  0 8px;
  }

  .blog-details--large {
    padding: 0 8px;
  }

  .search-container {
    margin-bottom: 48px;
  }

  .blog-details {
    max-width: none;
  }


}



@media (max-width: 425px) {

  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-left {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 140px;
  }

  .hero-left__cta > br {
    display: none;
  }

  .fhouse-container{
    padding-left: 30px;
  }

  .ready-to-sell-container {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }


  .right-image-container > img:nth-child(2){
  width: auto;
  left:-10px;
}

  .blog-intro {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }

  .blog-section-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .fhouse-card{
    font-size: 4px;
  }

  .tags {
    font-size: 1rem;
  }

  .fhouse-slider {
    margin:16px;
  }

  .banner {
    width: 100%;
    min-width: 1px;
    padding: none;
    margin: 0 auto;
  }

  .banner__img-container {
    display: none;
  }

  .banner__text {
    font-size: 24px;
  }

  .fhouse__buttons-container {
    /* display: none; */
    flex-wrap: wrap;
    justify-content: center;
    gap:8px;  
    margin-left: 0xpx;
    
  }

}

@media (max-width:370px){
  .section-details {
    flex-direction: column;
  }
}



@media (max-width: 320px) {

  .search-container {
    min-width: 1px;
  }
  
  #location-marker {
    padding-left: 16px;
  }

  .search__img {
    display: none;
  }

  .search__button {
    padding: 12px 16px;
    margin: 0px;
  }

  .banner {
    min-height: 330px;
    padding: 20px;
  }

  .email__img {
    display: none;
  }
  .email-container {
    flex-wrap: wrap;
    min-width: auto;
    width: auto;
    justify-content: center;
    min-width: 270px;
  }

  .email__input {
    width: auto;
  }

  .email__button {
    flex-shrink: 0;
    padding:0px 4px;
  }

}



@media only screen and (pointer: coarse) {
  .fhouse-slider{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .fhouse-chevrons {
    display: none;
  }
  .navbar__links {
    /* background: white; */
  }
  .navbar__links > a {
    /* background:#d1fae5; */
  }
}



